body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#todoList li {
  margin: 5px 0;
  list-style: none;
}

button {
  margin-left: 5px;
  background:blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}